*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stili controller */
#controller{
    height: 100px;
    background-color: #282828;
}
/* stili container principale */
#wrapper-up{
    height: calc(100vh - 100px);
    background-color: blue;
    display: flex;
}

/* contenitore principale */
#main-content{
    flex-grow: 1;
    background-color: #141922;
    height: 100%;
}

/* slidebar */
#slidebar{
    width: 250px;
    height: 100%;
    background-color: #000;
}

